.wrapper{}
.header,.main_header,.page_header,.main_page_header,.detail_page_header,.list_page_header,.article_header{}
.content,.main_content,.page_content,.main_page_content,.detail_page_content,.list_page_content,.article_content{}
.footer,.main_footer,.page_footer,.main_page_footer,.detail_page_footer,.list_page_footer,.article_footer{}
.main{}
.main_header{}
.main_content{}
.main_footer{}
.page,.main_page,.detail_page,.list_page{}
.page_header,.main_page_header,.detail_page_header,.list_page_header{}
.page_content,.main_page_content,.detail_page_content,.list_page_content{}
.page_footer,.main_page_footer,.detail_page_footer,.list_page_footer{}
.main_page{}
.main_page_header{}
.main_page_content{}
.main_page_footer{}
.detail_page{}
.detail_page_header{}
.detail_page_content{}
.detail_page_footer{}
.list_page{}
.list_page_header{}
.list_page_content{}
.list_page_footer{}
.article{}
.article_header{}
.article_content{}
.article_footer{}
.foo-item,.small_foo-item{display:none;}
.foo-item-content,.foo-item-content_selected,.small_foo-item-content{color:#ddd;}
.foo-item-content_selected,.small_foo-item-content_selected{font-size:bold;}
.small_foo-item{color:#000;}
.small_foo-item-content,.small_foo-item-content_selected{font-size:normal;}
.small_foo-item-content_selected{font-size:bold;}
